# Azure OpenAI Configuration
AZURE_OPENAI_API_KEY=9ytuRTbBN3hlAmaQtf7K53fUgrVQWGFhOcCWqur9gr32fZHqGrJdJQQJ99BKACHYHv6XJ3w3AAABACOGD62S
AZURE_OPENAI_ENDPOINT=https://openai-loan-under-writing.openai.azure.com/
AZURE_OPENAI_API_VERSION=2025-01-01-preview
AZURE_OPENAI_DEPLOYMENT_GPT4=gpt-4o-mini
AZURE_OPENAI_DEPLOYMENT_EMBEDDING=text-embedding-ada-002

# Azure Document Intelligence
AZURE_DOCUMENT_INTELLIGENCE_KEY=AZk0QDhsZlPMtuYVHN625drQG8uVmTTrAbmDTkhZrDyVzENTqA6XJQQJ99BKACHYHv6XJ3w3AAALACOG4sMk
AZURE_DOCUMENT_INTELLIGENCE_ENDPOINT=https://doc-intelligence-loan-underwriting.cognitiveservices.azure.com/

# Azure AI Search
AZURE_SEARCH_ENDPOINT=https://search-loan-underwriting.search.windows.net
AZURE_SEARCH_ADMIN_KEY=Hw5jelJCRj5rXMSL9x4nGaThcqbDgjBBfcpMPzM5gVAzSeBGTKh2
AZURE_SEARCH_INDEX_NAME=lending-policies-index

# MLflow
MLFLOW_TRACKING_URI=http://127.0.0.1:5000

# MCP Server
MCP_SERVER_URL=http://localhost:8000
